.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.webcamsTitle {
  background-color: #212121;
  color: whitesmoke;
  padding: 5px 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 7px 7px 0 0;
}

.placeholder {
  width: 600px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 20px 15px 0;
  border: 2px solid #212121;
  font-size: 18px;
}